.label-range {
	display: inline-block;
	color: #15848F;
}

.break {
	width: 100%;
	height: 10px;
	clear: both;
}

/*Adding Edited Style*/
.ui-autocomplete-loading {
    background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat!important;
  }
  
.panel-body #mensaje, #msgRegion, #msgCiudad, #msgIndex, #mensajeE, #mensajeF, #mensaje2, .messagesE{
	    color: #e53935;
	    font-weight: 300;
	    font-style: italic;
	    background-color: #transparent;
	    border-color: #transparent; 
	    padding: 5px;
}

.messagesW{
	    color: #FFB300;
	    font-weight: 300;
	    font-style: italic;
	    background-color: #transparent;
	    border-color: #transparent; 
	    padding: 5px;
}

.itineraries.header{
	color: #FEFDFE;

    padding: 10px 15px;
    border-bottom: 0px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-weight: bolder;
}

.required > label {
	font-weight: bold;
}

.required > label:after {
	content: ' *';
	color: #C3232D;
}

.form .error-message {
	display: block;
	padding: 0.375 rem 0.5625 rem 0.5625 rem;
	margin-top: -1px;
	margin-bottom: 1rem;
	font-size: 0.75 rem;
	font-weight: normal;
	font-style: italic;
	color: rgba(0, 0, 0, 0.54);
}

.error label, .error label.error {
	color: #C3232D;
}

div.message {
	border:none;
	font-style: italic;
	display: block;
	font-weight: 300;
	position: relative;
	transition: opacity 300ms ease-out 0s;
	background-color: transparent;
	color: #43A047;
	padding-left: 35px;
}

div.message.error {
	border:none;
	color: #e53935;
}

div.message:before {
	line-height: 0px;
	font-size: 20px;
	height: 12px;
	width: 12px;
	border-radius: 15px;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	position: relative;
	left: -11px;
	background-color: #43A047;
	padding: 12px 14px 12px 10px;
	content: "i";
	color: #DCE47E;
}

div.message.error:before {
	padding: 11px 16px 14px 7px;
	background-color: #e53935;
	content: "x";
}

.home .checks .success:before, .home .checks .problem:before {
	line-height: 0px;
	font-size: 28px;
	height: 12px;
	width: 12px;
	border-radius: 15px;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	position: relative;
	left: -11px;
}

.home .checks .success:before {
	content: "✓";
	color: green;
	margin-right: 9px;
}

.home .checks .problem:before {
	content: "✘";
	color: red;
	margin-right: 9px;
}

input#bussiness {
	margin-left: 15px;
}

/****CHAT****/
.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}
.chat-img img{
	width: 50px;
}
.img-circle {
    border-radius: 50%;
}
.btn-block{
	color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

/*ITINERARIES TABLES*/

.trdestinations{
	color: #fff;
    background-color: #2C466B!important;
    
}

.trdestinations p,.trarrivals p, .tractivities p{
	margin: 0px;
}

.trarrivals{
	color: #fff;
    background-color: #70b9eb!important;
  
}

.tractivities{
	color: #fff;
    background-color: #b5d0eb!important;
}
.pmargin p{
	margin: 0;
}

.tddestinationsinfo p{
	margin: 0px;
}

.btn-sm.catalog{
	position: relative;
    top: 25px;
}

a.index-img-download img{
	max-width: 50px;
}

a.view-img img{
	width: 100%;
}

ul.ui-autocomplete {
    z-index: 1100!important;
}

.no-gutter{
    padding:0!important;
    margin:0!important;
}

.slick-slider .slick-prev, .slick-slider .slick-next{
	width: 110px!important;
}
